.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-bg-color);
}

.footer__container {
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    text-align: left;
  }
}

.footer__wrapper {
  @media screen and (max-width: 767px) {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 70px;
    }
  }
}

.footer__adress {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }

  width: 231px;
  @include font(14px, 24px);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: var(--third-text-color);
}

.footer-list__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-list__link_dark {
  color: var(--third-text-color);
}

.join-us,
.subscribe__title {
  margin-bottom: 20px;
  @include font(14px, 16px);
  text-transform: uppercase;
  color: var(--third-text-color);
}

.social-list__footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__footer-icon {
  fill: var(--third-text-color);
}
